.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/


# data:
data*/

# solutions:
SOLUTIONS-dev/
#_targets.R
funs/hidden/
challenges-submissions/


# targets files:
#_targets.R
*/targets.R

# artifacts:
_freeze/
_extensions/
*_cache/
_site/
*_files/
.quarto/
Icon?
icon\r
.DS_Store


# rendered files:
*_files/



# built target objects:
_targets/


# playing around:
_archive/





.Rdata
.httr-oauth
.DS_Store
.quarto
